@model WebApplication2.Models.Book
@{
    ViewData["Title"] = "Add Book";
}
<h2>Add Book To Repository</h2>

@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
<div class="form-group">

    @Html.EditorForModel()
</div>
<input type="submit" value="Add" />
}

