@model WebApplication2.Models.Book

@{
    ViewBag.Title = "Delete book";
}

<h2>Delete Book From Repository by BookId</h2>

@using (Html.BeginForm("Del", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.BookId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.BookId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Del" class="btn btn-default" />
            </div>
        </div>
    </div>


}


