@model WebApplication2.Models.Book
@{ 
    ViewData["Title"] = "Json Book Catalog";
}

<h2>Count of books:@ViewBag.Books.Count</h2>

@foreach (var book in ViewBag.Books)
{<hr />
    <ul>
        <li><b>Book Id:</b>   @book.BookId </li>
        <li><b>Book Title:</b>  @book.Title </li>

    </ul>
    
}
