@model BookEditing.Models.BookViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    $(function () {
        // идентификатор элемента (например: #datetimepicker1), для которого необходимо инициализировать виджет Bootstrap DateTimePicker
        $('#datetimepicker1').datetimepicker();
    });
</script>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditBook</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.Partial("_PartialBook");
            <input type="submit" value="Edit" />
            <p> @Html.ActionLink("Main", "Index")</p>
        }
    </div>
</body>
</html>
