@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Id книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Заглавие</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Title</p></td>
                    <td><p><a href="/Home/Edit/@b.Id">Изменить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>